<?xml version='1.0' encoding='utf-8'?>
<widget id="com.arrking.tory" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>金矢港湾</name>
    <description>
      a tool for service staffs, handle interactions with moBay.
    </description>
    <author email="mobay@arrking.com" href="http://www.arrking.com">
      ARRKING MOBILE APPLICATION DEVELOPMENT TEAM
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
